@media screen and (min-width: 769px) {
  .socrates-index {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
  }

  .socrates-proteus-framework {
    max-width: 60em;
    margin-right: auto;
  }

  .socrates-getstarted {
    margin-left: 1em;
  }
}


